 {% extends 'interface.html.twig' %}

{% block body %}



      
           
           
                <table class="table table-bordered bs-table-border-color " style="margin-top:-533px;width:1000px;margin-left:auto;">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>E-mail</th>
                            <th>Numero</th>
                            <th>Etablissement</th>
                            <th>Districte</th>
                        
                            <th width="100px">Action</th>
                        </tr>
                    </thead>
                    <tbody id="projects-table-body">
                  
                      
                            </td>
               
                        <tr>
                            <td colspan="7">Aucun enregistrement trouvé</td>
                        </tr>
                      
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<script>


</script>

{% endblock %}