{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
        <h2 class="text-center mt-5 mb-3">React/symfony</h2>
        <div class="card">
            <div class="card-header">
               
            </div>
            <div class="card-body">
                <div id="alert-div">
                   
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Age(ans)</th>
                            <th>Cin</th>
                            <th>adresse</th>
                            <th>Taille</th>
                            <th width="240px">Action</th>
                        </tr>
                    </thead>
                    <tbody id="projects-table-body">
                           
                    </tbody>
                       
                </table>
            </div>
        </div>
    </div>


{% endblock %}